body {
margin: 0 auto;
}

header {
  background: rgba(0,0,0,0.7);
  width: 100%;
  position: fixed;
}


footer {
  background-color:grey;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #eca023;
}

nav ul li img :hover {
  background: rgba(0,0,0,0.7);
}
